<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
    <div class="hidden alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    </div>
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!--       This heading will differ based on route add Ruby conditional here  -->   
        <h1>Select Your Plants</h1>
        <hr class="small">
        <div class="row">

<!-- Looping over each plant in the database and outputting the plant card
  Each plant card is clickable and will open a modal to register the plant. -->
  <% @plant_types.each do | plant | %>
<a data-toggle="modal" data-target="#addPlantModal<%=plant.id%>"> 
    <div class="flipper col-sm-4">
      <div class="flip-front portfolio-item">
        <img class="front-image img-portfolio img-responsive" src="<%= plant.image_url %>">
        </div>
      <div class="flip-back">
        <img class="back-image img-portfolio img-responsive" src="<%= plant.image_url %>">
          <p class="card-back-text"><%= plant.common_name %></p>
          <p class="card-back-text"><%= plant.scientific_name %></p>
          <p class="card-back-text"><%= plant.description %></p>
      </div>
    </div> 
</a>
  <div class="modal fade" tabindex="-1" role="dialog" id="addPlantModal<%=plant.id%>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add <%= plant.common_name %> to your collection</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/plant-add" class="add-plant form-horizontal">
            <div class="form-group">
              <input type="text" name="custom_name" class="form-control" placeholder="Give your plant a unique name (eg: Kitchen <%= plant.common_name %>">
            </div>
            <div class="form-group">
              <input type="date" name="last_date_watered" class="form-control" placeholder="When did you last water your <%= plant.common_name %>?">
            </div>
            <div class="form-group">
              <label class="radio-inline"><input type="radio" value="<%= plant.low_water_frequency %>" name="custom_watering_frequency">Low Sunlight</label>
              <label class="radio-inline"><input type="radio" value="<%= (plant.low_water_frequency + plant.high_water_frequency) / 2 %>" name="custom_watering_frequency">Some Sunlight</label>
              <label class="radio-inline"><input type="radio" value="<%= plant.high_water_frequency %>" name="custom_watering_frequency">Lots of Sunlight</label>
            </div>
            <div class="form-group">
              <input type="hidden" name="plant_type_id" class="form-control" value="<%= plant.id %>">
            </div> 
            <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add <%= plant.common_name %></button>
            </div>
          </form>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% end %>

</div>
</div>
</div>
</div>

